/* Home */

.BodyContainer {
  background-color: rgba(0, 0, 0, 0.7);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../public/1.jpg");
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding-top: 5px;
}
.Logo {
  width: 300px;
  height: 200px;
  margin-top: 5px;
  position: relative;
  top: 60px;
  left: 250px;
  /* left: -28px; */
  /* margin-top: 5px; */
}

.H1 {
  color: white;
  font-size: 50px;
  font-weight: 10;
  left: 250px;
  font: Roboto Mono;
  position: relative;
  margin: 12px 0;
}

.H2 {
  font: Roboto Mono;
  position: relative;
  color: white;
  font-size: 32px;
  margin-top: 56px;
  /* margin: 8px 0; */
  left: 250px;
}

.LandscapeOverlay {
  display: none;
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  z-index: 150;
}
.Btn {
  position: relative;
  background-color: #5a2ff3;
  color: white;
  border: none;
  outline: none !important;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: large;
  transition: 0.15s ease-in-out;
  cursor: pointer;
  left: 250px;
}
.Btn:hover {
  background-color: blue;
  filter: drop-shadow(0 0 8px #724cf9);
}

/* media queries */
@media screen and (max-width: 992px) {
  .BodyContainer {
    background-attachment: initial;
  }
  .Logo {
    height: 180px;
    width: 350px;
    left: 25px;
  }
  .Btn {
    left: 30px;
    top: 125px;
  }
  .H1 {
    font-size: 44px;
    margin: 8px 0;
    top: 120px;
    left: 30px;
  }
  .H2 {
    top: 110px;
    left: 30px;
    font-size: 28px;
    margin: 4px 0;
  }
}

@media screen and (max-width: 568px) {
  .Logo {
    top: 140px;
    height: 100px;
    width: 250px;
    left: 20px;
    margin: 12px 0;
  }
  .H1 {
    top: 160px;
    font-size: 32px;
    margin: 12px 0;
    left: 20px;
  }
  .Btn {
    left: 30px;
    top: 150px;
  }
  .H2 {
    top: 150px;
    font-size: 18px;
    margin: 12px 0;
    left: 20px;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .LandscapeOverlay {
    display: flex;
  }
  .LandscapeOverlay::after {
    color: white;
    content: "Please Switch to Portrait Mode";
    height: 100vh;
    width: 100vw;
    margin: auto;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }
}
