.NavLinkHolder {
  position: relative;
  display: flex;
  align-items: center;
  margin: 30px 250px;
}

.NavLink {
  color: black;
  margin: 0 18px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  width: max-content;
}

.NavLink:hover {
  color: #724cf9;
}

.NavLink::after {
  content: "";
  background-color: whitesmoke;
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  transition: 0.5s;
}

.NavLink:hover::after {
  width: 100%;
}

.NavLinkActive {
  color: #0041bb;
}

.NavLinkActive:hover {
  color: #0041bb;
}

.NavLinkActive::after {
  background-color: #0041bb;
  width: 100%;
}

/* media queries */
@media (max-width: 992px) {
  .NavLinkHolder {
    flex-direction: column;
    align-items: center;
    margin: 22px 20px;
  }
  .NavLink {
    margin: 20px;
  }
}
